<div class="second_header2">
  <div class="header2">

    <div class="main-literature">
      <a href="#" class="literature1">国語</a>
    </div>
    
    <div class="main-math">
      <a href="#" class="math1">数学</a>
    </div>

    <div class="main-english">
      <a href="#" class="math1">英語</a>
    </div>

    <div class="main-science">
      <a href="#" class="science1">理科</a>
    </div>

    <div class="main-society">
      <a href="#" class="society1">社会</a>
    </div>

  </div>
</div>