.first_header1{
  margin: 0px;
}

.header1{
  background-color: gray;
  display: flex;
  height: 15vh;
  align-items: center;
}

.Prometheus-icon{
  height: 10vh;
  width: 6vw;
  margin-left: 20px;
  margin-right: 120px;
}



.search-input{
  height: 8vh;
  width: 30vw;
}

.search-btn{
  height: 9vh;
  width: 5vw;
  margin-right: 150px;
}

.login_btn{
  margin-right: 50px;
}

.sign-up_btn{
  margin-right: 50px;
}

.teacher-nickname{
  margin-right: 50px;
}

.logout_btn{
  margin-right: 50px;
}

.hamburger-icon{
  height: 10vh;
  width: 6vw;
}